<%= form_for(@sigesp_solicitud,html: {class:'form-horizontal', role:'form'})  do |f| %>
  <% if @sigesp_solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sigesp_solicitud.errors.count, "error") %> prohibited this sigesp_solicitud from being saved:</h2>
      <ul>
      <% @sigesp_solicitud.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cod_sede, class:"col-md-2 control-label" do |n| %>
      Sede
    <% end %>
    <div class="col-md-3">
       <%= f.collection_select :cod_sede, Sigesp::Sede.all, :seq_sede, :str_descripcion, options={prompt: 'Seleccione'}, 
           html_options={class: "form-control input-sm",data: { url: sigesp_servicios_path }} %>
    </div>
    <%= f.label :cod_servicio, class:"col-md-2 control-label" do |n| %>
      Servicio
     <% end %>
    <div class="col-md-3">
       <%= f.collection_select :cod_servicio, [], :seq_servicio, :str_descripcion, options={prompt: 'Seleccione'}, html_options={class: "form-control input-sm"} %>
    </div>
  </div> <!-- end form group-->
  <div class="form-group">
    <%= f.label :codfuefin, class:"col-md-2 control-label" do |n| %>
      Fuente Financiamiento
    <% end %>
    <div class="col-md-3">
       <%= f.collection_select :codfuefin, Sigesp::FuenteFinanciamiento.all, :codfuefin, :denfuefin, options={prompt: 'Seleccione'}, html_options={class: "form-control input-sm", data: 
        { url: sigesp_unidad_administrativas_path }} %>
    </div>
    <%= f.label :unidadAdministrativa, class:"col-md-2 control-label" do |n| %>
      Unidad Ejecutora
    <% end %>
    <div class="col-md-3">
       <%= f.collection_select :unidadAdministrativa,[], :codemp, :denuniadm, options={prompt: 'Seleccione'}, html_options={class: "form-control input-sm"} %>
    </div>
  </div> 
  <div class="form-group">
    <%= f.label :consol, class:"col-md-2 control-label" do |n| %>
      Concepto Solicitud
    <% end %>
    <div class="col-md-8">
       <%= f.text_area :consol, class: "form-control input-sm", rows:"2" %>
    </div>
  </div>

  <label><strong>DETALLE DE LA REQUISICION</strong></label>

  <div class="form-group">
    <div class="col-md-10">
      <div align="right"> 
        <button type="button" class="btn btn-primary" id="prueba" data-url="<%= sigesp_tiposArticulos_path %>"data-url-articulo="<%= sigesp_articulos_path %>">
        <span class="glyphicon glyphicon-plus " aria-hidden="true"></span>
        </button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th> Código </th>
            <th> Item </th> 
            <th> Cantidad </th>
            <th> Precio </th>
            <th> Unidad </th>
            <th> SubTotal </th>
            <th></th>
          </tr>
        </thead> 
        <tbody class="detallesolictud">
        </tbody>
      </table>
      <div  align="right">
        <label class="total"> Total :</label>
      </div>
    </div>
  </div>



  <div class=" form-group">
    <div class="col-md-7">
    </div>
    <div class="col-md-1">
      <%= f.submit "Guardar" , id: "pp", class: "btn btn-default "  %>
    </div>
    <div class="col-md-1">
      <%= f.submit "Cancelar" , id: "pp", class: "btn btn-default "  %>
    </div>
  </div> 

<% end %>
