<h1 class="page-header"> Solicitudes Compra </h1>
<div  class="botonera">
      <%= link_to new_sigesp_solicitud_path,  class: " btn btn-default " do %>
        agregar
      <% end %>
</div>

<div class="table-responsive">

<div class="row buscar" >
    <div class="col-md-6"></div>
    <div class="col-md-6" align="rigth">
    <div class="col-md-6">  
       <%= text_field_tag :search,params[:search],class: "form-control" %>  
    </div>
    <div class="col-md-3">
       <%= select_tag :sort,options_for_select(["numero solicitud","descripcion","concepto","tipo","fecha","estado"]), class: "form-control",selected:params[:sort]%>
    </div>
    <div class="col-md-3">
       <%= content_tag :button,'Buscar',class: "btn btn-default buscararticulo" %>
      </div>
    </div> 
  </div>

  <table class="table">
  <thead>
    <tr>
      <th>Nro</th>
      <th>Unidad Ejecutora</th> 
      <th>Concepto</th> 
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @sigesp_solicituds.each do |sigesp_solicitud| %>
      <tr>
         <td><%= sigesp_solicitud.numsol %></td>
         <td><%= sigesp_solicitud.unidadAdministrativa.denuniadm  %></td>
         <td><%= truncate(sigesp_solicitud.consol,length: 75) %></td>
         <td><%= tipoSolicitud(sigesp_solicitud.tipoSolicitud.dentipsol) %></td>
         <td><%= sigesp_solicitud.fecregsol %></td>
         <td><%= estadoSolicitud(sigesp_solicitud.estsol) %></td>
         <td><%= link_to sigesp_solicitud do |link| %>
            <span data-toggle="tooltip" data-placement="left" title="" class="glyphicon glyphicon-zoom-in" title="Mostrar"></span>
        <% end %>
        </td>
         <td><%= link_to sigesp_solicitud, method: :delete, data: { confirm: 'Quieres Anular Esta Solicitud  ?' } do |link| %>
            <span data-toggle="tooltip" data-placement="left" title="Eliminar" class="glyphicon glyphicon-remove"></span>
          <% end %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-md-4">
    <label><%= page_entries_info @sigesp_solicituds %></label>
  </div>
  <div class="col-md-8" align="right">
    <%= will_paginate @sigesp_solicituds, renderer: BootstrapPagination::Rails %> 
  </div>
</div>
