<div class="row page-header">
  <div class="col-md-8">
    <h2> Solicitud de Compras :  <%= @sigesp_solicitud.numsol  %> -- 
 </h2>
  </div>
  <div class="col-md-4" align="right" >
      <%= link_to 'Regresar', sigesp_solicituds_path ,class:"btn btn-default" %>
  </div>
</div>

<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<div class="row">
  <div class="col-md-2">
    <strong>Codigo</strong>
  </div>
  <div class="col-md-2">  
    <%= @sigesp_solicitud.numsol  %>
  </div>
  <div class="col-md-1">
    <strong>Tipo :</strong>
  </div>
  <div class="col-md-2">
    <%= tipoSolicitud(@sigesp_solicitud.tipoSolicitud.dentipsol)  %>
  </div>
  <div class="col-md-1">
    <strong> Fecha :</strong>
  </div>
  <div class="col-md-2">
    <%= @sigesp_solicitud.fecregsol %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <strong> Sede :</strong>
  </div>
  <div class="col-md-2">
    <%= @sigesp_solicitud.sede.str_descripcion %>
  </div>
  <div class="col-md-2">
  <strong> Servicio :</strong>
  </div>
  <div class="col-md-2">
  <%= @sigesp_solicitud.servicio.str_descripcion %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <strong>Fuente de Financiamiento:</strong>
  </div>
  <div class="col-md-4">
    <%= @sigesp_solicitud.fuenteFinanciamiento.denfuefin  %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <strong>Unidad Ejecutora:</strong>
  </div>
  <div class="col-md-6">
      <%= @sigesp_solicitud.unidadAdministrativa.denuniadm %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <strong>Concepto Solicitud </strong>
  </div>
  <div class="col-md-6">
     <%= @sigesp_solicitud.consol %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
    <strong>Estado</strong>
  </div>
  <div class="col-md-4">
     <%= estadoSolicitud(@sigesp_solicitud.estsol) %>
  </div>
</div>
<br/>
<label><strong>DETALLE DE LA REQUISICION</strong></label>
<br/>
<div class="row">
  <div class="col-md-10">
    <table class="table table-hover">
     <thead>
     <tr>
       <th> Código </th>
       <th> Item </th> 
       <th> Cantidad </th>
       <th> Precio </th>
       <th> Unidad </th>
       <th> SubTotal </th>
     </tr>
     </thead> 
     <tbody>
      <%  @sigesp_solicitud.dtArticulos.each do |articulo|  %>
      <tr>
        <td><%= articulo.codart %></td>
        <td><%= articulo.articulo.denart %></td>
        <td><%= articulo.canart %> </td>
        <td><%= articulo.monart %></td>
        <td><%= articulo.unidad %></td>
        <td><%= articulo.canart * articulo.monart  %></td>
      </tr>
      <% end %>
     </tbody>
    </table> 
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-10">
    <div class="page-header" align="right">
       <p class="bg-primary" style="padding-top:10px;padding-bottom:10px;padding-right:25px;"><strong> Total :</strong> <%= @sigesp_solicitud.dtArticulos.sum("monart") * @sigesp_solicitud.dtArticulos.sum("canart") %></p> 
    </div>
  </div>
</div>

