<p id="notice"><%= notice %></p>

<p>
  <strong>Codemp:</strong>
  <%= @sigesp_solicitud.codemp %>
</p>

<p>
  <strong>Numsol:</strong>
  <%= @sigesp_solicitud.numsol %>
</p>

<p>
  <strong>Codtipsol:</strong>
  <%= @sigesp_solicitud.codtipsol %>
</p>

<p>
  <strong>Coduniadm:</strong>
  <%= @sigesp_solicitud.coduniadm %>
</p>

<p>
  <strong>Codfuefin:</strong>
  <%= @sigesp_solicitud.codfuefin %>
</p>

<p>
  <strong>Fecregsol:</strong>
  <%= @sigesp_solicitud.fecregsol %>
</p>

<p>
  <strong>Estsol:</strong>
  <%= @sigesp_solicitud.estsol %>
</p>

<p>
  <strong>Consol:</strong>
  <%= @sigesp_solicitud.consol %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @sigesp_solicitud.monto %>
</p>

<p>
  <strong>Monbasinm:</strong>
  <%= @sigesp_solicitud.monbasinm %>
</p>

<p>
  <strong>Montotcar:</strong>
  <%= @sigesp_solicitud.montotcar %>
</p>

<p>
  <strong>Tipo destino:</strong>
  <%= @sigesp_solicitud.tipo_destino %>
</p>

<p>
  <strong>Cod pro:</strong>
  <%= @sigesp_solicitud.cod_pro %>
</p>

<p>
  <strong>Ced bene:</strong>
  <%= @sigesp_solicitud.ced_bene %>
</p>

<p>
  <strong>Firnivsol:</strong>
  <%= @sigesp_solicitud.firnivsol %>
</p>

<p>
  <strong>Firnivadm:</strong>
  <%= @sigesp_solicitud.firnivadm %>
</p>

<p>
  <strong>Firnivpre:</strong>
  <%= @sigesp_solicitud.firnivpre %>
</p>

<p>
  <strong>Estapro:</strong>
  <%= @sigesp_solicitud.estapro %>
</p>

<p>
  <strong>Fecaprsep:</strong>
  <%= @sigesp_solicitud.fecaprsep %>
</p>

<p>
  <strong>Codaprusu:</strong>
  <%= @sigesp_solicitud.codaprusu %>
</p>

<p>
  <strong>Numpolcon:</strong>
  <%= @sigesp_solicitud.numpolcon %>
</p>

<p>
  <strong>Fechaconta:</strong>
  <%= @sigesp_solicitud.fechaconta %>
</p>

<p>
  <strong>Fechaanula:</strong>
  <%= @sigesp_solicitud.fechaanula %>
</p>

<p>
  <strong>Monbasinmaux:</strong>
  <%= @sigesp_solicitud.monbasinmaux %>
</p>

<p>
  <strong>Montotcaraux:</strong>
  <%= @sigesp_solicitud.montotcaraux %>
</p>

<p>
  <strong>Montoaux:</strong>
  <%= @sigesp_solicitud.montoaux %>
</p>

<p>
  <strong>Undadm:</strong>
  <%= @sigesp_solicitud.undadm %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @sigesp_solicitud.destino %>
</p>

<p>
  <strong>Cod servicio:</strong>
  <%= @sigesp_solicitud.cod_servicio %>
</p>

<p>
  <strong>Cod sede:</strong>
  <%= @sigesp_solicitud.cod_sede %>
</p>

<p>
  <strong>Cod region:</strong>
  <%= @sigesp_solicitud.cod_region %>
</p>

<p>
  <strong>Str codregionsedeservicio:</strong>
  <%= @sigesp_solicitud.str_codregionsedeservicio %>
</p>

<%= link_to 'Edit', edit_sigesp_solicitud_path(@sigesp_solicitud) %> |
<%= link_to 'Back', sigesp_solicituds_path %>
